@CHARSET "ISO-8859-1";


.cast-page label
{
	
	border: 1px solid gray;
	padding:10px;
}

.cast-page label:hover
{
	background: lightgray;
}


.cast-page div
{
	padding:10px;
}

.cast-page img
{
	width:100px;
	height:125px;
	border:2px solid black;
	margin-top: 20px;
	
}

.cast-page ul
{
	list-style:none;
}

.cast-page ul li
{
	display:inline-block;
	list-style:none;
	list-style-type: none;
}

.cast-page ul li span ul li
{
	display:block;
	list-style:none;
}